/* Daan Molleman
11275820
Linked views */

@font-face {
    font-family: 'MLB-Block';
    src:url('mlbblock/MLB-Block.ttf.woff') format('woff'),
        url('mlbblock/MLB-Block.ttf.svg#MLB-Block') format('svg'),
        url('mlbblock/MLB-Block.ttf.eot'),
        url('mlbblock/MLB-Block.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MLB-Blue-Jays-Modern';
    src:url('bluejays/MLB-Blue-Jays-Modern.ttf.woff') format('woff'),
        url('bluejays/MLB-Blue-Jays-Modern.ttf.svg#MLB-Blue-Jays-Modern') format('svg'),
        url('bluejays/MLB-Blue-Jays-Modern.ttf.eot'),
        url('bluejays/MLB-Blue-Jays-Modern.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


html *
{
   font-family: "MLB-Blue-Jays-Modern" !important;
}

rect.bar {
    fill: green;
    margin-right: 2px;
    stroke: black;
}

rect.sel {
    fill: DarkGreen;
    margin-right: 2px;
    stroke: black;
}

rect.loss {
    fill: Crimson;
    margin-right: 2px;
    stroke: black;
}

rect.losssel {
    fill: Firebrick;
    margin-right: 2px;
    stroke:black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "MLB-Block";
    font-size: 11px;
}

text.label {
    font-size: 11px;
}

.mytooltip {
  position:absolute;
  text-align: center;
  width: 100px;
  height:auto;
  background-color: #42BFF4;
  border-radius: 10px;
  color: black;
  padding: 6px 12px;
  z-index:3;
}

.mytooltip span {
    display: block;
}

image {
   fill: transparent;
}

* {
text-align: center !important;
margin: 20 !important;
}
